<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>极易共享停车</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/partilces/style.css}">

</head>

<body class="text-center">
<div id="particles-js"></div>
<!-- particles.js container -->
<div class="d1">
    <form class="form-signin" th:action="@{/login}" method="post">
        <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
        <label class="sr-only" th:text="#{login.userName}">userName</label>
        <input type="text" name="userName" th:value="${session.loginName}" class="form-control" placeholder="userName"
               th:placeholder="#{login.userName}" required=""
               autofocus="">
        <label class="sr-only" th:text="#{login.password}">password</label>
        <input type="password" name="password" class="form-control" placeholder="password"
               th:value="${session.loginPassword}" th:placeholder="#{login.password}" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" name="isUseCookies"> [[#{login.remember}]]
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}"></button>
        <p class="mt-5 mb-3 text-muted">© 2018-2019</p>
        <a class="btn btn-sm" th:href="@{/templates/reception/index.html(l='zh_CN')}">中文</a>
        <a class="btn btn-sm" th:href="@{/templates/reception/index.html(l='en_US')}">English </a>
    </form>
</div>
<!-- scripts -->
<script th:src="@{/js/particles/particles.js}"></script>
<script th:src="@{/js/particles/app.js}"></script>

<!-- stats.js -->
<script th:src="@{/js/particles/stats.js}"></script>
<script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
</script>
</body>


</html>